{
  "env": {
    "production": {
      "presets": [
        [
          "@babel/preset-env"
        ]
      ],
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    },
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
